<p>
  The example document has been published under a license that does not entitle me to upload it to GitHub. Please download it yourself
and store it as  "/src/app/assets/pdfs/5mb.pdf" in this Angular application. You can download the document here:
<a href="https://www.eurofound.europa.eu/publications/report/2017/occupational-change-and-wage-inequality-european-jobs-monitor-2017">https://www.eurofound.europa.eu/publications/report/2017/occupational-change-and-wage-inequality-european-jobs-monitor-2017</a> </p>
<ngx-extended-pdf-viewer [src]="'/assets/pdfs/5mb.pdf'">
</ngx-extended-pdf-viewer>
